.catalog {
    padding-bottom: 100px;
    &__content {
        margin-top: 81px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &-item {
        width: 300px;
        min-height: 310px;
        background: #F5F5F5;
        border-radius: 20px;
        border: none;
        padding: 33px 16px 40px 22px;
        margin: 30px;
        .headline {
            font-family: 'RoadRadio';
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 110%;
            color: #262633;
        }
        &__phone {
            font-family: 'Golos';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 150%;
            color: #262633;
        }
        &__adress {
            font-family: 'Golos';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #797986;
        }
        &__path {
            margin-top: 20px;
            font-family: 'Golos';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: $main-color;
        }
        &__time {
            margin-top: 20px;
            font-family: 'Golos';
            font-style: normal;
            font-weight: 400;
            padding-top: 20px;
            font-size: 14px;
            line-height: 140%;
            color: #262633;
        }
        &__seven {
            width: 600;
        }
    }
}